<div class="container">
	<div class="row">
		<div class="col-md-12 text-center mb-3">
			<h1 class="font-weight-bold"><%= title %></h1>
			<h2><%= msg %></h2>
		</div>
		<div class="col-md-4 offset-md-4">
			<% if(typeof errors != 'undefined') { for (let error of errors){ %>
			<div class="alert alert-danger" role="alert">
				<%= error.param %>: <%= error.msg %>
			</div>
			<% } } %>
		</div>
	</div>
</div>
