<div class="container">
	<div class="row">
		<div class="col-md-4 offset-md-4">
			<div class="mb-3 text-center">
				<h1 class="font-weight-bold"><%= title %></h1>
			</div>
			<form method="POST">
				<div class="form-group">
					<label for="name">Name*</label>
					<input
						type="text"
						class="form-control"
						id="name"
						name="name"
					/>
				</div>
				<button type="submit" class="btn btn-primary">Submit</button>
			</form>
		</div>
	</div>
</div>
