<div class="container">
	<div class="mb-3 text-center">
		<h1 class="font-weight-bold">Dashboard</h1>
	</div>
	<div class="mb-3">
		<ul class="list-group">
			<li class="list-group-item">
				<a href="/users/notifications"
					>Notifications (<%= user.notifications.length %>)</a
				>
			</li>
			<li class="list-group-item">
				<a href="/users/<%= user._id %>/profile">Profile</a>
			</li>
			<li class="list-group-item">
				<a href="/users/profile">Update Profile</a>
			</li>
			<li class="list-group-item">
				<a class="text-danger" href="/users/logout">Sign-out</a>
			</li>
		</ul>
	</div>
	<% if(user.isContributor) { %>
	<h3>Contribution options</h3>
	<ul class="list-group">
		<li class="list-group-item">
			<a href="/users/add-person">Add Person</a>
		</li>
		<li class="list-group-item">
			<a href="/users/add-movie">Add Movie</a>
		</li>
	</ul>
	<% } %>
</div>
